.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(12, 12, 32);
  position:  sticky;
  width: 99vw;
  height: 9vh;
  max-width: 1800px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  position: relative;
  z-index: 10;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
  color: white;
  justify-content: center;
  font-size: large;
  font-weight: 600;
  font-family: sans-serif;
  cursor: pointer;
}
